/* reset */
@import "https://unpkg.com/open-props";

* {
    font-family: 'Satoshi',  sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the video is behind other content */
  }
  
  body {
    /*  center vertically and horizontally  */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .bento-container {
    background: linear-gradient(to bottom right,#fbc7d4, #9796f0 );
    width: 90%;
    max-width: 1200px;
    padding: 1rem;
    border-radius: 1rem;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    opacity: 50%;
    /* optional. fixed aspect ratio   */
    /*   aspect-ratio: 16/9; */
  }
  
  .bento-item {
    background: gray;
    padding: 1rem;
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* ui to indicate interaction */
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    
  }
  
  .bento-item:hover {
    background: pink;
    scale: 1.06;
  }

  
  /* Featured items */
  .feature-1 {
    grid-column: span 3;
    grid-row: span 3;
    background: #fdf2f8;
  }
  
  .feature-2 {
    grid-column: span 1;
    grid-row: span 1;
    background: #f0fdf4;
  }
  
  .feature-3 {
    grid-row: span 2;
    grid-column: span 3;
    background: #b2c2d6;
  }
  .feature-4 {
    grid-row: span 2;
    grid-column: span 2;
    background: #b6e2ca;
  }
  .feature-5 {
    grid-row: span 1;
    background: #f1ecbe;
  }
  
  /* Responsive "tablet" size */
  @media (max-width: 768px) {
    .bento-container {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
      aspect-ratio: auto;
    }
  
    .feature-1,
    .feature-2,
    .feature-3 {
      grid-column: span 1;
      grid-row: span 1;
    }
  }
  
  /* Responsive "mobile" size */
  @media (max-width: 480px) {
    .bento-container {
      grid-template-columns: 1fr;
    }
  }
  