/* Install @import "https://unpkg.com/open-props";*/
@import "https://unpkg.com/open-props";

/* temp background color */
body {
    background: var(--gradient-26);
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the video is behind other content */
    pointer-events: none; /* Prevent interaction with the video */
  }